.gradient-bg {
  background-repeat: no-repeat;
  position: fixed;
  width: 100lvw;
  height: 100lvh;
  background-size: 100% 100%;

  z-index: -1;
  position: fixed;
  background-color: rgb(255, 255, 255);
  background-image: radial-gradient(
      at 20% 75%,
      rgb(140, 166, 243) 0px,
      transparent 50%
    ),
    radial-gradient(at 7% 42%, rgb(192, 194, 255) 0px, transparent 100%),
    radial-gradient(at 84% 74%, rgb(240, 106, 106) 0px, transparent 50%),
    radial-gradient(at 73% 8%, rgb(230, 101, 181) 0px, transparent 100%),
    radial-gradient(at 32% 9%, hsla(23, 91%, 71%, 1) 0px, transparent 50%);
}
