@keyframes moveBackground {
  /*0% {
    background-position: 0% 0%;
  }
  12.5% {
    background-position: 25% 25%;
  }
  25% {
    background-position: 50% 50%;
  }
  37.5% {
    background-position: 75% 75%;
  }
  50% {
    background-position: 100% 100%;
  }
  62.5% {
    background-position: 75% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  87.5% {
    background-position: 25% 75%;
  }
  100% {
    background-position: 0% 0%;
  }*/
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 200% 200%;
  background-image: radial-gradient(
    circle 15rem at 50% 50%,
    rgba(255, 237, 190, 0.05) 0px,
    transparent 100%
  );
  animation: moveBackground 5s infinite running;
  transition-timing-function: linear;
}

a {
  @apply hover:text-highcontrast;
}

*::selection {
  @apply bg-highcontrast text-black;
}

.highlighted-text {
  @apply text-highcontrast;
}
